# Compile 
build/ 
bin/
lib/ 
out/
*.o 
*.so
*.a 

# Third party
third_party/ 
deps/

# Project

# Java
openmit-streaming/.idea/ 
.settings/
.project
.classpath
.idea/ 
target/ 

# gen-pb
gen-pb/ 

# Thrift output
gen-cpp/
gen-java/
gen-py/ 

# Tmp
nohup.out
